.popup_type_tooltip {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}