.card__like {
    display: inline-block;
    width: 22px;
    height: 22px;
    /* margin-top: 5px; */
    background: url(../../../images/icons/elements-like.svg) no-repeat;
    background-position: 0% 10%;
    border: none;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}