.profile__redact {
    max-width: 700px;
    display: grid;
    grid-template-areas: 
    "avatar name edit"
    "avatar descripton .";
    grid-template-columns: max-content 340px 24px;
    grid-template-rows: 60px 60px;
    align-items: center;
    position: relative;
}

@media screen and (max-width:770px) {
    .profile__redact {
        margin: 0 auto;
        grid-template-areas: 
        "avatar-mob avatar-mob"
        "name-mob edit-mob"
        "descripton-mob descripton-mob";
        grid-template-columns: none;
        grid-template-rows: none;
        column-gap: 10px;
    }
}