.content {
    box-sizing: border-box;
    padding-top: 45px;
    /* padding-left: 19px; */
    /* padding-right: 19px; */
    margin: 0 auto;
    max-width: 918px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 300px);
}

@media screen and (max-width:770px) {
    .content {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}